.InputComponent {
  height: 2.5em;
  width: 15em;
}

.InputComponent input {
    background: transparent;
    border: 0.125rem solid var(--accentColor2);
    border-radius: 0.5rem;
    padding: 0em;
    padding-left: 1em;
    
    height: 2.25em;
    color: var(--textColor);
    width: 13.75em;
    font-family: inherit;
    font-size: inherit;
    transition: 0.25s;
}

.InputComponent input:focus {
    border: 0.125em solid var(--textColor);
}

.InputComponent input::placeholder {
    color: var(--accentColor2);
    opacity: 1;
    
}


.InputComponent  input:focus::placeholder {
  color: transparent;
}
