.Select, .SelectMenu {
  height: 2.5em;
  width: 15em;
  font: inherit;
  background-color: var(--itemColor);
  border: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.Select {
  border-radius: 0.5em;
}

.SelectMenu {
  border-radius: 0.5em 0.5em 0em 0em;
}

.Select p, .SelectMenu p {
  padding: 0.5em 0.5em 0.5em 1em;
  transition: 0.25s;
}

.Select > div > svg, .SelectMenu > div > svg {
  width: 1.5em;
  position: absolute;
  padding: 0.5em;
  right: 0;
  top: 0;
}

.SelectMenu > div > svg {
  transform: rotate(180deg);
}

.SelectMenu > div > div > div > svg {
  display: none;
  width: 1.5em;
  position: absolute;
  padding: 1em;
  right: 0em;
}

.Select > div:last-child {
  display: none;
}

.SelectMenu > div:last-child {
  max-height: 15em;
  overflow-y: scroll;
  scrollbar-width: none;
}

.SelectMenu > div::-webkit-scrollbar {
  display: none;
}

.SelectMenu div, .SelectMenu > div > p:last-child {
  background-color: var(--itemColor);
  border-radius: 0em 0em 0.5em 0.5em;
}

.SelectMenu > div > p:hover {
  background-color: var(--itemColorAlt);
}

.SelectMenu > p, .Select > p {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  width: 11.5em;
}

.SelectMenu > div > div > .Selected {
  background-color: var(--itemColorAlt) !important;
}

@media (pointer:none), (pointer:coarse) {
  .SelectMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0em;
    overflow: scroll;
  }
  .SelectMenu p {
    padding: 1em;
  }
  .SelectMenu div > svg {
    padding: 1em;
  }
  .SelectMenu > div > div > div > svg {
    display:inline;
  }
  .SelectMenu > div > div > .Selected > svg:first-of-type {
    display:none;
  }
  .SelectMenu > div:last-child {
    max-height: none;
  }
}