.circleContainer {
  display: inline-block;
  vertical-align:top;
}

.circle {
  align-items: center;
  background-color: var(--componentColorAlt);
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 1.5em;
  font-weight: normal;
  height: 2em;
  justify-content: center;
  overflow: hidden;
  width: 2em;
}

.circleImage {
  align-items: center;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 1.5em;
  font-weight: normal;
  height: 2em;
  justify-content: center;
  overflow: hidden;
  width: 2em;
}

.circle img {
  width:100%;
  object-fit: cover;
}

.largeCircle {
  height: 3em;
  width: 3em;
}

.smallCircle {
  height: 1em;
  width: 1em;
}

.extraSmallCircle {
  height: 0.5em;
  width: 0.5em;
}