header {
  height: 3em;
  background: linear-gradient(180deg, rgba(2,2,2,1) 0%, rgba(20,20,20,1) 100%); 
}

nav {
  flex-grow: 1;
}

nav .selected {
  color: var(--headerColor);
}

a {
  color:var(--textColor);
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  text-align: center;
  font-weight: 300;
}

a:hover {
  color: var(--headerColor);
}