.HorizontalRegion {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.VerticalRegion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 65em) {
  .NewsCard > .HorizontalRegion {
    flex-direction: column;
    align-items: center;
  }
  .NewsCard > .VerticalRegion > .HorizontalRegion {
    flex-direction: column;
    align-items: center;
  }
}