@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;700&display=swap');
:root {
  --background: #000000;
  --accentColor: #bb21ff;
  --headerColor: #ffffff;
  --textColor: #989898;
  --dividerColor: #686868;
  --cardColor: #202020;
  --cardColorDark: #181818;
  --codeFontColor: #21FF48;
}

body {
  font-family: 'Jost', sans-serif;
  color: var(--textColor);
  background-color: var(--background);
  font-size: 16px;
}

@media only screen and (min-width : 320px) and (max-width : 800px) {
	body {-webkit-text-size-adjust: none;}
}

.CardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardWrapper .NewsCard:first-child {
  margin-top: 2em;
}

