@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;700&display=swap');

:root {
  --accentColor: #bb21ff;



  --darkGreen: #004000;
  --green: #009800;
  --yellow: #989800;
  --red: #980000;
  --darkRed: #400000;

  --codeFontColor: #21FF48;
  --headerColor: #ffffff;

  --textColor: #989898;
  --dividerColor: #686868;
  --itemColor: #404040;
  --itemColorAlt: #303030;
  --componentColor: #202020;
  --componentColorAlt: #181818;
  --cardColor: #101010;
  --background: #000000;
}

body {
  font-family: 'Jost', sans-serif;
  color: var(--textColor);
  background-color: var(--background);
  font-size: 16px;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  body {
      -webkit-text-size-adjust: none;
  }
}

.CardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardWrapper .NewsCard:first-child {
  margin-top: 2em;
}

.headerColor {
  color: var(--headerColor);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}